:root{
    --colo:rgb(204, 199, 199)
}
body{
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
#header-nav{
    background-color:var(--colo);
    border-radius: 0;
    border: 3px solid black;
}
#nav-list{
    text-align: right;
    margin-top: 10px;
}
#nav-list a:hover{
      color: rgb(8, 8, 201);  
}
.navbar-header button.navbar-toggle ,.icon-bar{
    border: 2px solid rgb(42, 2, 66);
}
/* p>a{
    text-decoration: none;
} */
.head{
   float: left;
}
.container{
    margin-left: 5px;
}
h1{
    position: relative;
    padding-left: 0px;
    margin-left: 0px;
    margin-top: 7px;
    margin-bottom: 7px;
}
.navbar-toggle{
    top: 5px;
}
#nav-list a{
    font-size: 1.25em;
    font-weight: dark;
    border: 2px solid black;
    margin:2px ;
   color: rgb(52, 50, 50);
}
#nav-list li:nth-child(3) a{
    margin-bottom: -4px;
}
#nav-list li:nth-child(1) a{
    margin-bottom: 4px;
}
#nav-list li:nth-child(2) a{
    margin-bottom: 4px;
}
#menu{
    text-align: center;
    font-weight: bolder;
}
.dk{
    position: relative;
    margin: 15px;
    padding: 10px;
    box-sizing: border-box;
}
.dk>div{
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    background-color: var(--colo);
}
div>h5{
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.125em;
    font-weight: bolder;
}

/* @media(min-width:769),(max-width:888px){
    .dk{
        position:relative;
    }
    .e1{
        float: left;
        width: 45%;
    }
    .e2{
        float: right;
        width: 45%;
    }
    .e3{
        clear: both;
    }
} */
@media(min-width:768px){

    .dk{
        transition-duration: 3s;
       display: flex;
      
    }
}